.header {
    padding: 15px 0;
    background-color: var(--greyE6);
    margin-bottom: 30px;
  }
  
  .gridContainer {
    display: grid;
    grid-template-columns: 30px 2fr 30px;
    align-items: center;
    gap: 15px;
  }

  .homepage {
    order: 1;
    grid-column: 1/4;
    font-size: 30px;
    font-weight: normal;
  }
  
  @media (min-width: 768px) {
    .homepage {
      order: 0;
      grid-column: auto;
    }

    .header {
      padding: 30px;
    }
  
    .gridContainer {
      grid-template-columns: 50px 1fr 2fr 50px;
      gap: 30px;
    }
  }